remove verify_hostname option

Please remove the `verify_hostname` option, including explicit setting of this option using  `PERL_LWP_SSL_VERIFY_HOSTNAME` and implicitly disabling this option by using `HTTPS_CA_FILE` or `HTTPS_CA_DIR`.

This option was a hack to somehow get the insecure behavior of Crypt::SSLeay, which does not verify the host names. The implications of disabling validation of the hostname are not understood by most users and it is even worse that validation gets silently disabled if the environment variables `HTTPS_CA_FILE` or `HTTPS_CA_DIR` are set.

To make it clear: disabling validation of the host name is more or less equivalent to disabling any kind of validation. Once validation of the host name is disabled the validation of the trust chain does not matter much, because an attacker could get a certificate for its own host (i.e. `attacker.example.com`) signed by a public CA and use this certificate to mount a man-in-the-middle attack against any other host. This will succeed because the trust chain is valid, even if the host name does not match.

Instead the documentation should show the user the proper (secure) ways of handling mismatching certificates, i.e.

- use ssl_opts with `SSL_verifycn_name` to specify the expected host name
- or use ssl_opts with `SSL_fingerprint` to specify the expected certificate (all other checks are disabled in this case) 

Yes, I know that this might break existing applications. But, this is a security issue and most users which used this option before were probably not aware of the security implications.

From  [RFC2818 Section 3.1 Server Identity](https://tools.ietf.org/html/rfc2818#section-3.1):

> If the client has external information as to the expected identity of the server,
> the hostname check **MAY** be omitted.

It should be possible to disable host name verification if certificate validation done against custom (**private**) CA only, so external attacker can't get a certificate for his own host.

Real world example - notebook with Intel AMT configured with private CA. Even internal attacker can't do MITM using certificate from another company's notebook, because key is not extractable from Intel ME. Certificates generated by various provisioning tools may have anything in Subject and subjectAltName, preventing proper validation using `SSL_verifycn_name`. Hostname is not important in this case, so valid certificate from private CA is enough for safe connect. None of proposed solutions usably handling this case.

> It should be possible to disable host name verification if certificate validation done against custom (private) CA only, so external attacker can't get a certificate for his own host.

There should definitely be a way to securely deal with private certificates which do not conform to the 
standards but which should be trusted anyway. But I don't think there should be an option to disable specific checks required in the standard. Otherwise one would also need specific options not only to ignore the hostname but also to ignore that the certificate is expired or that the certificate has the wrong key usage or whatever. 

Instead IO::Socket::SSL offers a simple way to trust such certificate by fingerprint of the certificate or its public key using the `SSL_fingerprint` option. Moreover IO::Socket::SSL supports the `SSL_verifycn_name` option to specify a different name which is expected in the certificate. And it also has the `SSL_verifycn_scheme` option which can be set to `none` if no validation of the certificate should be done. It would be much better to have these option easily available from within libwww  (i.e. don't override values set with `ssl_opts`) than to prominently offer an option to enable insecure behavior where the implications are not understood by most.


> But I don't think there should be an option to disable specific checks required in the standard.

Exactly this specific check allowed to be skipped by RFC cited previously, so it's special case anyway. 

Collecting fingerprints for all hosts of the certificates correctly signed by private CA is unneeded burden in my previous example. Question is whether should I use LWP's high level interface such as `verify_hostname => 0` together with `If-SSL-Cert-Subject` check, or has to go deeper by directly passing `ssl_opts` such as `SSL_verifycn_scheme` set to `none` or to `{ callback }` mechanism (additionally considering not 1:1 mapping between `If-SSL-Cert-Subject` and callback).

But I totally agree with you that `ssl_opts` explicitly defined shouldn't be silently overridden by libwww.